ion-toolbar {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    --background: var(--ion-color-black);
    color: var(--ion-color-light);
}

.disclaimer {
    color: var(--ion-color-light);
    z-index: 9;
    font-size: 10px;
    text-align: center;
    font-weight: 500;
}

.list-md {
    padding-top: initial;
    padding-bottom: initial;
}

.list-md > .item-block:last-child {
    border-bottom: 0px;
}

.list-md > .item-block:first-child {
    border-top: 0.55px solid var(--ion-color-light);
}

.no-pointer {
    cursor: default;
}

.pointer {
    cursor: pointer;
}