.main-side-menu {

    ion-content {
        --color: var(--ion-color-light);
        --background: var(--ion-color-dark);

        .user {
            background: var(--ion-color-black);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);

            ion-icon {
                font-size: 9rem;
            }

            h3 {
                margin-top: 0px;
                padding-bottom: 10px;
            }
        }

        ion-item {
            --background: var(--ion-color-dark);
            color: var(--ion-color-light);
            --inner-border-width: 0;

            ion-icon {
                color: var(--ion-color-light);
            }
        }
    }
}