<ion-app>

  <ion-menu side="start" swipe-gesture="true" type="overlay" class="main-side-menu">

    <ion-content>
      <div text-center class="user">
        <ion-icon name="contact"></ion-icon>
        <h3 *ngIf="user">{{user.name}}</h3>
      </div>

      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>

</ion-app>